$bg-color: #e6a81a;
$body-color: #fff;
$body-shadow-color: #d0d2d2;
$eye-color: #000;
$yellow-color: #ffd916;
$yellow-shadow-color: #f1a812;
$red-color: #d10f05;
$red-shadow-color: #a10300;
$outline-color: #000;
$chicken-shadow-color: #ca830b;

html,
body {
  width: 100%;
  height: 100%;
  background: $bg-color;
  overflow: hidden;

  * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }
  }
}

.comb {
  &-1 {
    z-index: 3;
    width: 10.2vmin;
    height: 10vmin;
    background: $red-shadow-color;
    top: -48.5vmin;
    left: -26vmin;
    transform: rotate(-25deg);
    border-radius: 60% 50% 0 0;
    box-shadow: 0 0 0 1vmin $outline-color,
      inset 2.1vmin 1.3vmin 0 1vmin $red-color;
  }
}
